extends layout

block content
    .container
        h2(data-id!=poll.id) #{poll.question}
        ul.list-group
            each option in options
                li.list-group-item #{option.name}
        form(method='POST' action='')
            .form-group
                label(for="options") Options
                input#option3.form-control.optionNo(type="text" name='option_3' data-optionNo=3 placeholder="Option 3")
            .text-left
                a.add-option(href="#")
                    i.fa.fa-plus(aria-hidden="true")
            .text-center
                button.btn.btn-primary.text-center(type="submit") Submit
    script(src="/javascripts/add-option.js")